body {
  font-family: "Kanit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}

.parallex {
  background-image: url("https://images.pexels.com/photos/5865071/pexels-photo-5865071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  font-size: 84px;
}

.overlayHead {
  background-color: black;
  opacity: 0.6;
}

.aboutImg {
  object-position: 50% 30%;
}

.destinationLink {
  padding-top: 72px !important;
}

.iconLink a {
  text-decoration: none;
  color: black;
}

.w3school {
  font-size: 12px;
}
